body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th {
  text-align: center;
}

.title {
  padding: 20px 0;
  font-size: 30px;
}
.btn-success {
  margin-bottom: 5px;
}
.btn {
  outline: none !important;
}